@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #ffffff;
  --color-primary: #00c2ff;
  --color-secondary: #0097cc;
  --color-accent: #00c2ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
}
